<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="cn.dw.oa.model"/>
	</typeAliases>

	<mappers>
	    <!--  
		<mapper resource="cn/dw/oa/dao/ProductMapper.xml" />
	    -->
	    <!-- mapper映射文件名称,必须与接口名相同,才可以扫描成功 -->
	    
	</mappers>

</configuration>