<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="cn.dw.oa.model"/>
	</typeAliases>
	<mappers>
		<mapper resource="cn/dw/oa/dao/CategoryDao.xml" />
		<mapper resource="cn/dw/oa/dao/ProductDao.xml" />
	</mappers>
</configuration>